@using SampleLogMaker.Models
@model SampleLogMaker.Models.Blog

@{
    ViewBag.Title = "Details";
}

<h2>Blog Details</h2>

<div>
    @Html.DisplayFor(model => model.Title)
    @Html.DisplayFor(model => model.Description)
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>


@{Html.RenderAction("EntityHistory", "History", new { typeFullName = typeof(Blog).FullName, entityId = Model.Id });}
