@using SampleLogMaker.ViewModels
@model IEnumerable<BaseHistoryVM>

<div>
    <h4>
        History for @ViewBag.EntityType (@ViewBag.EntityId)
    </h4>
</div>

<div id="historyList">
    @foreach (var log in Model)
    {
        <text>
            @Html.DisplayFor(x => log)
        </text>
    }
</div>
