code span.k {
    color: #8fb7ff !important;
}

code span.nc {
    color: #f75595 !important;
}

code span.nf {
    color: #f75595 !important;
}

code span.s {
    color: #45f19b !important;
}

code span.kt {
    color: #00fff5 !important;
}

code span.na {
    color: #d2ce3a !important;
}

code span.err {
    color: #ff497a !important;
}