@model SampleLogMaker.Models.Blog
<div style="padding-left:30px;font-size:smaller;color:gray; border:1px gray solid; margin-top:40px;width:500px;margin-left:auto;margin-right:0px;">
    <fieldset>
        <legend>
            <span style="font-size:15px;color:gray;">
                Blog Details
            </span>
        </legend>

        @Html.DisplayFor(x => x.Id)
        @Html.DisplayFor(x => x.Description)

    </fieldset>
</div>
